{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class=" subtitle-row container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="category-styling mb-4">Order Up</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class=" table-responsive rounded">
                {% for entry in request.session.bag %}
                <!--Image for sammich-->
                <div class="category-styling beige-background mb-3 rounded-0">
                {% if 'item' in entry %}
                    <img class="img-fluid sammich-tile-bg p-2  " src="{{ MEDIA_URL }}sandwich.svg" alt="{{entry}}"
                        width="100" height="100">
                {% elif 'drink' in entry %}
                <img class="img-fluid drink-tile-bg p-2  " src="{{ MEDIA_URL }}drink.svg" alt="{{entry}}"
                        width="100" height="100">
                {% else %}
                <img class="img-fluid side-tile-bg p-2  " src="{{ MEDIA_URL }}fries.svg" alt="{{entry}}"
                        width="100" height="100">
                {% endif %}
                    <!--ingredients in bag -->
                    {% for item in bag_items %}
                    {% if item.unit_id == entry %}
                    {% if not item.unit_subtotal%}
                    {% if item.type == 'sandwich' %}
                    <span class="d-inline-flex p-3 text-small font-bolder">{{item.ingredient.name}} + <br>
                        £{{item.ingredient.price}}</span>
                    {% else %}
                    <span class="d-inline-flex p-3 text-small font-bolder">{{item.drink_side.name}} + <br>
                        £{{item.drink_side.price}}</span>
                    {% endif %}
                    {% else %}
                    <p class="font-bolder d-flex justify-content-end">Price: £{{item.unit_subtotal}}</p>
                    <a class="remove-btn d-flex justify-content-end text-danger" id="{{item.unit_id}}"><small>Remove</small></a>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}
                <div class="text-end">
                    <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                    <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                    {% if free_delivery_gap > 0 %}
                    <p class="mb-1 text-danger">
                        You could get free delivery by spending just <strong>£{{ free_delivery_gap }}</strong> more!
                    </p>
                    {% endif %}
                    <div class="mt-4">
                    <a href="{% url 'ingredients' %}" class="mb-2 btn btn-transparent rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                    <a href="{% url 'checkout' %}" class="btn btn-transparent rounded-0 btn-lg">
                        <span class="text-uppercase">Secure Checkout</span>
                        <span class="icon">
                            <img src="{{MEDIA_URL}}padlock.svg" alt="padlock" width="25">
                        </span>
                    </a>
                    </div>
                </div>
            </div>
            {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'ingredients'%}" class="btn btn-transparent rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class=" text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postload_js %}
{{ block.super }}
<script type="text/javascript">
    // Remove item and reload on click
    $('.remove-btn').click(function(e) {
        console.log('its happening')
        var csrfToken = "{{ csrf_token }}";
        var sandwichId = $(this).attr('id');
        var url = `/bag/remove/${sandwichId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}