{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row hero-row ">
        <div class="col">
            <h4 class="tag-line font-bolder my-5">The perfect sandwich is waiting.</h4>
            <div class="outer-frame">
                <div class="inner-frame">
                    <div class="sammich-undone-img img-fluid"></div>
                    <a href="{% url 'ingredients' %}" class="btn btn-transparent make-it-now-btn font-bolder rounded-0">make it now.</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row how-to-purchase-row">
        <hr>
        <div class="col-lg"></div>
        <div class="col-lg"></div>
        <div class="col-lg"></div>
        <div class="col-lg"></div>
        <div class="col-lg"></div>
        <hr>
    </div>
</div>
{% endblock %}