/* fonts */

@font-face {
  font-family: MainFont;
  src: url("/static/fonts/halva2.otf") format('opentype')
}

body{

    font-family: MainFont;
}

h1, h2, h3, h4 , h5, h6 {
    font-family: MainFont;
}
.hero-row{
    background: #F3E8DE;
    min-width: 400px;
    height: 600px;
    margin-top: 16.25rem;
}

.sammich-undone-img{
    background: url('/media/sammichUndone.png') no-repeat center;
    padding: 150px;
    
}

.outer-frame{
    border: 5px solid #000;
    display: inline-block;
   
}

.inner-frame{
    border: 3px solid #000;
    display: inline-block;
    margin: 30px;
}

.mission-bg{
    background: #F3E8DE;
}

.mission-text{
    word-wrap: break-word;
    padding: 0 100px;
    padding-bottom: 60px;
}

.how-to-purchase-row{
    height: 450px;
}

/*Navbar*/
.main-nav-item{
    border-bottom: 8px double #def3e7;
    font-size: 14px;

}

.nav-link:hover{
    color: #def3e7;
}

.list-inline-item:hover{
    color: #def3e7;
}

.dropdown-menu{
    box-shadow: 1px 1px 7px #80808061;
    border: 4px double #def3e7;
    border-radius: 0;
   
}

.dropdown-item{
     font-weight: bold;
}


a { 
    color: inherit;
} 


@media (max-width: 991px){
    #topnav{
        display: none !important;
    }

    
}
/* button stylings*/


.make-it-now-btn{
    margin-bottom: 20px;
    min-width: 40px;
}

.form-button-styles{
    text-align: end;
}

.btn-transparent {
   background: transparent;
   color: black;
   box-shadow: 2px 1px 7px #80808061;
   border-radius: 1px;
}

.make-sammich-button:hover,
.make-sammich-button:active,
.make-sammich-button:focus,
.btn-transparent:hover,
.btn-tranparent:active,
.btn-transparent:focus {
    background: black;
    color: white;
}

.btn-filter:active{
    background: black !important;
    color: white !important;
}

/*text styling*/

.text-black {
    color: #000 !important;
}



/* delivery banner*/

#delivery-banner{
   
}

.delivery-text{
    box-shadow: 1px 1px 7px #80808061;
    width: fit-content;
    margin: 24px auto;
    padding: 18px;

}

/* ingredients page*/

.subtitle-row{
    margin-top: 16.25rem;
}

.menu-border{
    border: 12px double #def3e7;
    padding: 30px;
    box-shadow: 1px 0px 10px #cecece;
}



.ingredient-card{
    height: fit-content;
    background: #F3E8DE;
    box-shadow: 1px 1px 7px #80808061;
}


.ingredient-price{
    font-weight: bolder;
    font-size: 18px;
}

.font-bolder{
    font-weight: bolder;
}


.subtitle-heading{
    padding: 10px;
    box-shadow: 1px 1px 7px #80808061;
}

.category-styling{
    padding: 10px;
    box-shadow: 1px 1px 7px #80808061;
}


.gold-color{
    color: #f3af38;
}

.sort-button-cluster{
    margin-left: 20px;
    font-size: 12px;

}

.sort-button{
    font-size: inherit;
}

/* from bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/*ingredients accordion*/

.accordion-button{
    border: none;
    font-size: x-large;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: transparent;
}

.accordion-collapse {
    border: none;
    border-width: 0 1px;
}

.accordion-button.collapsed {
    border-bottom-width: 0;
    border: 3px solid #def3e7;
}

/*modal*/

.modal-content {
    
    border: 3px solid black;
    border-radius: 0;
}

.modal-header{
    border-bottom: 0;

}

.modal-footer{
    border-top: 0;
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-weight: bolder;
}
/* bag */

.beige-background{
    background: #F3E8DE;
}

.sammich-tile-bg{
    border: 3px solid black!important;
    background: #75be3c;
}

.drink-tile-bg{
    border: 3px solid black!important;
    background: #46b6ad;
}

.side-tile-bg{
    border: 3px solid black!important;
    background: #f45429;
}

.text-small{
    font-size: 12px;
}

.subtotal-style-lg{
    display: flex;
    align-items: flex-end;
    margin-left: 7rem;
}

.remove-btn{
    text-decoration: none;
    cursor: pointer;
}


.remove-btn:hover{
    text-decoration: none;
    font-weight: bolder;
}

/* bootstrap toasts */

.message-container {
    position: fixed;
    top: 115px;
    right: 15px;
    z-index: 99999999999;
    
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 60px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* form formatting */

#profile-heading,

.allauth-form-inner-content{
    margin-top: 282px;
}


.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

#profile-update-form input,
#profile-update-form select,
.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
    border: 2px solid;
    margin-bottom: 10px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}


.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(255, 255, 255);
    border: 3px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: rgb(0, 0, 0);
    border-color: #000000;
}

.allauth-form-inner-content a {
	color: #000000; /* text-info */
}

.standard-border{
    border: 3px solid black;
}

.form-margin{
    margin-top: 250px;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/*ingred-img-class*/

.ingred-img{
    max-width: 150px;
    height: auto;
    max-height: 100px;
}

.item-quantity{
    color: #f1061d;
    font-size: 20px;
}

/* about us */

.about-us-text{
    padding: 150px;
    padding-bottom: 250px;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 1.2px;
}

.about-us-border{
    border: 9px double #def3e7;
    padding: 31px;
}


.founder-bg{
    background-color: #F3E8DE;
}

.founder-img{
    position: relative;
    bottom: 94px;
    left: 83px;
}

.founder-img-border{
    border: 4px solid black;
}

.social-text-div{
    padding: 70px;
}

.social-text{
    padding: 32px 106px;
    line-height: 1.8;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-weight: bold;
    text-align: justify;
}

/* footer */

.footer-rule{
    border-top:  8px double #def3e7;

}

.footer-links{
    font-size: 14px;
    padding: 0;
}

.footer-links a{
    text-decoration: none;
}