{% load static %}

<div class="container mt-5">
    <div class="row footer-rule text-center">
        <div class="col ">
            <h4 class="my-4 font-bolder">contact us</h4>
            <div class="social-links">
                <a href="https://facebook.com" target="_blank"><img src="{{MEDIA_URL}}facebook.png" class="p-2"
                        alt="facebook"></a>
                <a href="https://instagram.com" target="_blank"><img src="{{MEDIA_URL}}instagram.png" class="p-2"
                        alt="facebook"></a>
                <a href="https://twitter.com" target="_blank"><img src="{{MEDIA_URL}}twitter.png" class="p-2"
                        alt="facebook"></a>
            </div>
        </div>
    </div>
    <div class="row my-4 footer-links font-bolder d-flex align-items-center ">
        <div class="col-3 text-end p-0"><a href="{% url 'ingredients' %}">Sandwiches</a></div>
        <div class="col-2 text-end p-0"><a href="{% url 'drinks_and_sides' %}">Drinks/Sides</a></div>
        <div class="col-2 text-center p-0"><a href="{% url 'home' %}" class=" main-logo-link"><img src="{% static 'logo/SammichPatchLogo.svg' %}"
                    width="80" height="80" alt=""></a></div>
        <div class="col-2 text-start p-0"><a href="{% url 'about' %}">about</a></div>
        <div class="col-3 text-start p-0" ><a href="{% url 'home' %}">home</a></div>

    </div>
</div>