<div class="collapse text-start  navbar-collapse" id="mobile_nav">
    <ul class="navbar-nav text-black navbar-expand-lg">
        <li class="nav-item">
            <a class="nav-link " href="{% url 'ingredients' %}">Sandwiches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="drinksAndSides" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Drinks & Sides
            </a>
            <ul class="dropdown-menu border-0 " aria-labelledby="drinksAndSides">
                <li><a class="dropdown-item" href="#">Drinks</a></li>
                <li><a class="dropdown-item" href="#">Sides</a></li>
                <li><a class="dropdown-item" href="#">Sauces</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <div class="nav-item  dropdown">
                <a class="nav-link  dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <p class="list-inline-item "> Account </p>
                </a>
                <div class="dropdown-menu border-0 " aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="{% url 'add_ingredient' %}" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
        </li>
    </ul>
</div>