{% load static %}
<li class="list-inline-item mx-auto p-0">
    <a href="{% url 'home' %}" class=" d-block d-lg-none nav-link main-logo-link">
        <img src="{% static 'logo/SammichPatchLogo.svg' %}" width="120" height="120" alt=""></a>
</li>

<li class="list-inline-item ">
    <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none p-0"
        href="{% url 'shopping_bag' %}">
        <div class="text-center">
            <img class="" src="{% static 'logo/shoppingbag.png' %}" width="25" height="25" alt="">
            <p class="">
                {% if grand_total > 3 %}
                £{{ grand_total|floatformat:2 }}
                {% else %}
                £0.00
                {% endif %}
            </p>
        </div>
    </a>
</li>