{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h3>Filling</h3>
            <hr>
        </div>
    </div>
    <div class="row">
        <!--logic to get ingredient-->
        {% for ingredient in ingredients %}
        <div class="col-4">
        {% if ingredient.category.name == "filling" %}
            <h5 class="card-title">{{ingredient.name}}</h5>
            <p class="card-text">{{ingredient.description}}.</p>
            <a href="#" class="btn btn-primary">Add</a>
            <!--logic to get dietary requirements-->
            {% if ingredient.dietary_requirements.all %}
            {% for dietary_requirements in ingredient.dietary_requirements.all %}
            <p>dietary requirements: {{dietary_requirements.friendly_name}}</p>
            {% endfor %}
            {%endif%}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}